<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ultimanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PlayerListActivity" />
        <activity android:name=".activities.PlayerAddActivity" />
        <activity android:name=".activities.PlayerDetailActivity" />
        <activity android:name=".activities.GameAddActivity" />
        <activity android:name=".activities.GameListActivity" />
        <activity android:name=".activities.ThrowEventActivity" />
        <activity android:name=".activities.StartingOnActivity" />
        <activity android:name=".activities.DPointActivity" />
        <activity android:name=".activities.SetTeamnameActivity"></activity>
    </application>

</manifest>
